<html>
  <head>
    <title>Vue Directives</title>
  </head>
  <body>

<!-- Directive : HTML 태그 안에 v- 접두사를 가지는 모든 속성 -->
<div id="app">
  <a v-if="flag">Vue.js</a> <!-- flag값이 frue면 표시 false면 표시 되지않음 -->
  <ul>
    <li v-for="system in systems"> {{system}} </li>
  </ul>
  <p v-show="flag">v-show</p>
  <h5 v-bind:id="uid">v-bind뷰</h5>
  <button v-on:click="popupAlert(10)">경고 창</button>
  <button v-on:click="clickBtn">마우스 이벤트 객체</button>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          flag: true, //v-if flag 제어
          systems: ['android', 'ios', 'window'], //v-for {{system}}에 반복하여 표시
          uid: 10 // HTML 태그의 id 속성을 뷰 데이터에 선언한 uid 값과 연결하여 화면에 표시
        },
        methods: {
          popupAlert: function(num) { // v-on:click 클릭했을 때 해당 이벤트를 감지하여 mepopupAlert() 메서드 수행
            return alert('인자값 alert 표시 '+num);
          },
          clickBtn: function(event) {
            console.log(event);
          }
        }
      });
    </script>

  </body>
</html>




<!-- *** 출처 : Do It! Vue.js 입문 : 예제로 이해하고 실전 프로젝트로 완성한다! *** -->
